<h1>Movie List</h1>
<%= link_to 'New movie', new_movie_path %>

<table>
  <tr>
    <th><%= sortable "title" %></th>
    <th><%= sortable "release_year","Release Year" %></th>
    <th><%= sortable "length" %></th>
    <th><%= sortable "rating" %></th>
    <th><%= sortable "format" %></th>
  </tr>
  <% for movie in @movies %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.release_year %></td>
      <td><%= movie.length %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.format %></td>
      <td><%= link_to 'Show', movie_path(movie) %></td>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    </tr>
  <% end %>
</table>