<h1>Movie List</h1>
<%= link_to 'New movie', new_movie_path %>

<table>
  <tr>
    <th><%= link_to "Title" , :sort => "title" %></th>
    <th><%= link_to "Release Year" , :sort => "release_year" %></th>
    <th><%= link_to "Length" , :sort => "length" %></th>
    <th><%= link_to "Rating" , :sort => "rating" %></th>
    <th><%= link_to "Format" , :sort => "format" %></th>
  </tr>
  <% for movie in @movies %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.release_year %></td>
      <td><%= movie.length %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.format %></td>
      <td><%= link_to 'Show', movie_path(movie) %></td>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    </tr>
  <% end %>
</table>