<%= javascript_tag do %>
 
$( document ).ready(function() {
 /* // just for the demos, avoids form submit
  jQuery.validator.setDefaults({
    debug: true,
    success: "valid"
  }); */
   $("#movie").validate({
      rules: {
        "movie[title]":"required",
        "movie[format]":"required",
        "movie[length]": {
					required:true,
					min: 1,
          max: 500
        },
        "movie[release_year]": {
					required:true,
					min: 1800,
          max: 2100
        },
        "movie[rating]":"required"
      },
      messages:{
        "movie[title]":"Please enter a movie title",
        "movie[format]":"Please select a movie format",
        "movie[length]": {
					required: "Please enter the movie length in minutes",
					min: "The minimum movie length is 1 minute",
          max: "The Maximum movie length is 500 minutes"
				},
        "movie[release_year]": {
					required: "Please enter a release year",
					min: "The minimum release year is 1800",
          max: "The maximum relase_yaer is 2100"
				}
        
      }
    });
  
});
<% end %>
<%= form_for :movie,:html => {:id => "movie"}, url: movies_path do |f| %>
<%= field_set_tag do %>
<p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
     <%= f.label :Format %><br>
    <%= f.select :format, [['--Select Movie Format--',''],['VHS','VHS'],['DVD','DVD'],['Streaming','Streaming']] %>    
  </p>   
  
   <p>
     <%= f.label :Length %><br>
     <%= f.text_field :length %>
  </p>
  <p>
    <%= f.label :release_year, "Release Year" %><br>
    <%= f.text_field :release_year %>
  </p>
  <p>
      <%= f.label :Rating %><br>
      <%= f.radio_button :rating, "1" %> 
      <%= f.label :rating, '1', :value => '1' %>
      <%= f.radio_button :rating, "2" %> 
      <%= f.label :rating, '2', :value => '2' %>
      <%= f.radio_button :rating, "3" %> 
      <%= f.label :rating, '3', :value => '3' %>
      <%= f.radio_button :rating, "4" %> 
      <%= f.label :rating, '4', :value => '4' %>
      <%= f.radio_button :rating, "5" %> 
      <%= f.label :rating, '5', :value => '5' %>
      <%= label_tag 'moving[rating]', nil, class: 'error'%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<% end %>