<%= form_for :Movie do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :Format %><br>
    <%= radio_button_tag(:format, "VHS") %>
    <%= label_tag(:format, "VHS") %>
    <%= radio_button_tag(:format, "DVD") %>
    <%= label_tag(:format, "DVD") %>
    <%= radio_button_tag(:format, "Streaming") %>
    <%= label_tag(:format, "Streaming") %>
  </p>
   <p>
     <%= f.label :Length %><br>
     <%= f.text_field :length %>
  </p>
  <p>
    <%= f.label :release_year, "Release Year" %><br>
    <%= f.text_field :release_yaer %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>