<%= javascript_tag do %>
 
$( document ).ready(function() {
  // just for the demos, avoids form submit
  jQuery.validator.setDefaults({
    debug: true,
    success: "valid"
  });
   $("#movie").validate({
      rules: {
        movie_title:"required"
      },
      messages:{
        movie_title:"Please enter a movie title"

      }
    });
  
});
<% end %>
<%= form_for :movie,:html => {:id => "movie"}, url: movies_path do |f| %>
  <p>
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
     <%= f.label :Format %><br>
    <%= f.select :format, [['VHS','VHS'],['DVD','DVD'],['Streaming','Streaming']] %>    
  </p>   
  
   <p>
     <%= f.label :Length %><br>
     <%= f.text_field :length %>
  </p>
  <p>
    <%= f.label :release_year, "Release Year" %><br>
    <%= f.text_field :release_year %>
  </p>
  <p>
      <%= f.label :Rating %><br>
      <%= f.radio_button :rating, "1" %> 
      <%= f.label :rating, '1', :value => '1' %>
      <%= f.radio_button :rating, "2" %> 
      <%= f.label :rating, '2', :value => '2' %>
      <%= f.radio_button :rating, "3" %> 
      <%= f.label :rating, '3', :value => '3' %>
      <%= f.radio_button :rating, "4" %> 
      <%= f.label :rating, '4', :value => '4' %>
      <%= f.radio_button :rating, "5" %> 
      <%= f.label :rating, '5', :value => '5' %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>