<!DOCTYPE html>
<html>
<head>
  <title>MicahMovieManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "style", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jqueryvalidation', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'movieform', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="mainContent" class="container-fluid align-center">
    <div id="header" class="row">
      <%=image_tag("header.png", alt: "Example Image",class: "img-responsive")%>
    </div>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/movies">Movies</a></li>
         
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>  
    <%= yield %>
    <div id="footer" class="row">
      <%=image_tag("footer.png", alt: "Example Image",class: "img-responsive")%>
    </div>
</div>
</body>
</html>
