<!DOCTYPE html>
<html>
<head>
  <title>MicahMovieManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="mainContent" class="container-fluid align-center">
    <div id="header" class="row">
      <img src="assets/images/header.png" class="img-responsive">
      <!-- <%= image_tag("footer.png", class: "img-responsive") %> -->
    </div>
    <%= yield %>
    <div id="footer" class="row">
      <img src="assets/images/footer.png" class="img-responsive">
      <!-- <%= image_tag("footer.png", class: "img-responsive") %> -->
    </div>
</div>
</body>
</html>
